@tailwind base;
@tailwind components;
@tailwind utilities;

.teste{
    background-color: black;
    color: white;
}

.match-accept:hover{
    color: red;
}

.match-recuse:hover{
    color: rgb(36, 131, 240);
}
